doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    title Bleeding Edge Web: January 2020

    // Required stylesheet
    link(rel='stylesheet', href='../../shared/core/deck.core.css')
    
    // Extension CSS files go here. Remove or add as needed.
    link(rel='stylesheet', href='../../shared/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='../../shared/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='../../shared/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='../../shared/extensions/status/deck.status.css')
    link(rel='stylesheet', href='../../shared/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='../../shared/extensions/scale/deck.scale.css')
    
    // Transition theme. More available in /themes/transition/ or create your own.
    link(rel='stylesheet', href='../../shared/themes/transition/fade.css')
    
    // Required Modernizr file
    script(src='../../shared/resources/js/modernizr-2.8.3.js')
    
    // Pretty print
    script(src='../../shared/prism/prism-okaidia.js')
    link(rel='stylesheet', href='../../shared/prism/prism-okaidia.css')
    
    // Custom theme, include last to allow easy overriding
    link(rel='stylesheet', href='../../shared/themes/build/skew-dark.css')
    script(type='text/javascript', src='../../shared/resources/js/microlight.js')
  
  body.deck-container.language-javascript

    //----------------------  Intro  ----------------------

    section.slide.cover.home
      h1(style='font-size:4em;top:30%;') Bleeding Edge Web
      h1(style='font-size:2.5em;top:65%;')
        a(href='https://twitter.com/edgeatx') @edgeATX
      h1(style='font-size:2.5em;top:80%;')
        a(href='https://www.edgeatx.org/') edgeATX.org
      .shim(style='opacity:.5;')
    
    section.slide
      h2 Bleeding Edge Web: January 2020

      h3.star News From the Bleeding Edge
      p.indent
        | &mdash; Brian Moeskau (
        a(href='https://twitter.com/bmoeskau') @bmoeskau
        | )

      h3.star React Concurrent Mode
      p.indent
        | &mdash; Keith Murgic


    //----------------------  Housekeeping  ----------------------

    section.slide
      h2 Housekeeping
      ul
        li Speakers and sponsors <strong>always wanted</strong>
        ul
          li
            a(href='https://www.edgeatx.org') https://www.edgeatx.org/speak.html
          li
            a(href="https://www.edgeatx.org/sponsorship.html") https://www.edgeatx.org/sponsorship.html
        li Join us on 
          a(href="https://edgeatx-invite.herokuapp.com/") Slack
      

    //----------------------  Sponsors  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/nascar.jpg)')
      h1 Thanks to<br>Our Sponsors
      .shim(style='background-color:#432c9a;opacity:.8;')

    section.slide.cover(style="background:#fff;")
      div(style='text-align:center;padding-top:100px;font-size:200%;')
        p
          a(href='https://company.auntbertha.com/' alt='Aunt Bertha website')
            img(style='width:70%;padding-top:100px;', src='../../shared/resources/images/sponsors/aunt-bertha-logo.png', alt='Aunt Bertha website')
    
    section.slide.cover(style="background:#0a0a36;")
      div(style='text-align:center;padding-top:100px;font-size:200%;')
        p
          a(href='https://www.moove-it.com/' alt='Moove It website')
            img(style='width:85%;padding-top:100px;', src='../../shared/resources/images/sponsors/mooveit-logo.png', alt='Moove It website')


    //----------------------  Begin slides  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/newspaper.gif)')
      h1 News from the<br>Bleeding Edge
      .shim(style='background-color:#d15dd1;opacity:.9;')
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/browsers.jpg)')
      .content
        h1 Browser<br>Update
      .shim(style='background-color:#369;opacity:.8;')
    
    section.slide
      h2 Browser Pop Quiz
      h3 Last check September 18, 2019:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge-dev.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 77
          td.ver 69
          td.ver Beta
          td.ver 12.
            span.small 1
    
    section.slide
      h2 Browser Pop Quiz
      h3 As of January 21, 2020:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge-final.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 
            span.strike.dim 77
            br
            strong(style='color:#1CA727') 79
          td.ver 
            span.strike.dim 69
            br
            strong(style='color:#1CA727') 72
          td.ver
            span.strike.dim Beta
            br
            strong(style='color:#1CA727') 79 🤯
          td.ver 
            span.strike.dim 12.
              span.small 1
            br
            strong(style='color:#1CA727') 13
    
    section.slide
      h2 Chrome 78
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      p Released October 22nd — 
        a(href='https://developers.google.com/web/updates/2019/10/nic78') Release Notes
        |  (
        a(href='https://www.youtube.com/watch?v=Q81403HNZRc') video
        | )
      ul
        li 
          a(href='https://web.dev/css-props-and-vals/') CSS Properties and Values API
        li
          a(href='https://developers.google.com/web/updates/2019/09/fresher-sw') Fresher service workers

      h3.star Origin Trials
      p Allow users on your domain to 
        a(href="https://googlechrome.github.io/OriginTrials/developer-guide.html") test new browser features
      ul
        li 
          a(href="https://developers.chrome.com/origintrials/#/view_trial/3868592079911256065") Native file system
          | : Read/write files to the local system
        li
          a(href="https://developers.chrome.com/origintrials/#/view_trial/607985949695016961") SMS Receiver API
          | : Confirm OTP messages directly in your web app

    section.slide
      h2 Chrome 79
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      p Released December 10th — 
        a(href='https://developers.google.com/web/updates/2019/12/nic79') Release Notes
        |  (
        a(href='https://www.youtube.com/watch?v=L0OB0_bO5I0') video
        | )
      h3.star
        a(href='https://web.dev/wakelock/') Wake Lock API
      
      h3.star
        a(href='https://web.dev/vr-comes-to-the-web/') WebXR Device API

    section.slide
      h2 Firefox 70
      img(src='../../shared/resources/images/firefox.png', class='corner-image', width='200px', alt='Firefox')
      p Released October 22nd — 
        a(href='https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/70') Release Notes
      ul
        li Many debugger improvements
        li Support for 
          a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Numeric_separators") numeric separators 
          | , e.g. 
          span.code 1_000_000
        li Lots 
          a(href="https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/70") more

    section.slide
      h2 Firefox 71
      img(src='../../shared/resources/images/firefox.png', class='corner-image', width='200px', alt='Firefox')
      p Released December 3rd — 
        a(href='https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/71') Release Notes
      ul
        li Even more debugger improvements
        ul
          li New 
            a(href="https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor/Inspecting_web_sockets") web sockets inspector
        li Support for 
          span.code 
            a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/allSettled") Promise.allSettled()

    section.slide
      h2 Firefox 72
      img(src='../../shared/resources/images/firefox.png', class='corner-image', width='200px', alt='Firefox')
      p Released January 7th — 
        a(href='https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/72') Release Notes
      ul
        li Mostly an incremental release
        li Lots of minor dev tools, JS and CSS updates

    section.slide
      h2 Microsoft Edge
      img(src='../../shared/resources/images/edge-final.png', class='corner-image', width='200px', alt='Edge')
      p Released January 15th — 
        a(href='https://blogs.windows.com/msedgedev/2020/01/15/upgrading-new-microsoft-edge-79-chromium/') Release Notes
      ul
        li 
          strong First official Stable channel build!
        li Built on 
          a(href="https://www.chromium.org/") Chromium
        li Automaic updates (well, 
          a(href="https://docs.microsoft.com/en-us/deployedge/microsoft-edge-blocker-toolkit") sort of
          | )
        li It's mostly Chrome (for now)
        li Check out the 
          a(href="https://docs.microsoft.com/en-us/microsoft-edge/") developer docs

    section.slide
      h2 Safari 13 
      img(src='../../shared/resources/images/safari.png', class='corner-image', width='200px', alt='Safari')
      p Released in July — 
        a(href='https://developer.apple.com/documentation/safari_release_notes/safari_13_release_notes') Release Notes
      ul
        li Lots of Apple-specific features
        ul
          li "Desktop-class" Safari for iPad
          li Improved Mac and WKWebView security
          li Faster rendering in iOS &amp; watchOS
          li Native macOS keychain sign-in
        li Improvements for payments, media, web inspector and more

    section.slide
      h2 Bonus: Opera
      img(src='../../shared/resources/images/opera.png', class='corner-image', width='200px', alt='Opera')
      ul
        li Opera was purchased by a Chinese investor group in 2018
        li The company pivoted to selling 
          strong predatory short-term loan apps
        li These apps account for over 42% of revenue
        li The CEO directed $30M toward a... 
          a(href="https://play.google.com/store/apps/details?id=com.starmakerinteractive.starmaker&hl=en_US") karaoke app
      
      p All signs are pointing down the drain


    //----------------------  Libs & Frameworks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/html-js-css.png)')
      h1 Languages, Libraries &amp;<br>Frameworks
      .shim(style='background-color:#AD7909;opacity:.8;')

    section.slide
      h2 Lighthouse CI
      blockquote Automate running Lighthouse for every commit, viewing the changes, and preventing regressions
      ul
        li
          a(href="https://github.com/GoogleChrome/lighthouse-ci") Lighthouse
          |  reports baked into every PR
        li Enforce performance budgets
        li Compare site versions
      img(src="./images/lighthouse-ci.png" alt="Lighthouse CI" style="width:50%")
    
    section.slide
      h2 
        a(href="https://httpie.org/") HTTPie 2.0
      blockquote A CLI, cURL-like tool for humans
      ul
        li A command line tool, like cURL, but much nicer
        li Simple, natural HTTP request syntax
        li Colorized output
      img(src="./images/httpie.gif", alt="HTTPie", style="width: 40%")
    
    section.slide
      h2 A-Frame 1.0.0
      blockquote A web framework for building virtual reality experiences
      p 
        a(href="https://aframe.io/blog/aframe-v1.0.0/") Released Dec 16th
      ul
        li Started in Dec 2015
        li Finally ready for primetime, along with the WebXR spec
        li Easily build web-first VR experiences


      
    //----------------------  Tips & Tricks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/tips-tricks.jpg)')
      .content
        h1 Tips &amp; Tricks
      .shim(style='background-color:#6d0264;opacity:.7;')
  
    section.slide
      h2 2020 Front-End Perf Checklist
      blockquote Everything you need to know to create fast experiences on the web today. 
      ul 
        li An great overview of 
          a(href="https://www.smashingmagazine.com/2020/01/front-end-performance-checklist-2020-pdf-pages/") modern performance strategies
        li Updated every year since 2016
        li It's long, but web devs 
          strong really 
          | should read it
      img(src="./images/speed-calc.webp", alt="Speed Calculator", style="max-width: 40%")


    //----------------------  Security  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/security.jpg)')
      .content
        h1 Security
      .shim(style='background-color:#c11;opacity:.7;')
  
    section.slide
      h2 Chrome Password Checker
      p 
        a(href="https://passwords.google.com/") https://passwords.google.com
      ul
        li If you manage passwords in Chrome you now can audit them
        li It will also suggest strong passwords a la Safari
      img(src="./images/passwords.google.com.png" alt="Google Password Checker" style="width:50%")

    section.slide
      h2 WeLeakInfo
      p In 
        strong totally unrelated 
        |  news, weleakinfo.com was 
        a(href="https://www.zdnet.com/article/fbi-seizes-weleakinfo-a-website-that-sold-access-breached-data/") seized by the FBI last week
      ul
        li 12 billion user records from 10,000+ data breaches
        li Subscription access for $2/day
        li Our regular PSA: 
          strong don't reuse passwords!
      img(src="./images/weleakinfo.jpg" alt="WeLeakInfo seized" style="width:40%")


    
    //----------------------  Industry Headlines  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/industry.jpg)')
      .content
        h1 Industry<br>Headlines
      .shim(style='background-color:#393;opacity:.7;')

    section.slide
      h2 Chrome Phasing Out UA Strings
      p User agent strings are a mess, and 
        a(href="https://www.zdnet.com/article/google-to-phase-out-user-agent-strings-in-chrome/") Google wants to kill them
      ul
        li They are moving to 
          a(href="https://wicg.github.io/ua-client-hints/") Client Hints
        li
          strong Chrome 81 
          | (~March): Warnings in pages that read UA
        li
          strong Chrome 83 
          |  (~June): Chrome will freeze its UA string
        li
          strong Chrome 85 
          |  (~Sept): Switch to common desktop/mobile OS strings
      
    section.slide
      h2 Chrome Phasing Out 3rd-Party Cookies
      p They want to 
        a(href="https://techcrunch.com/2020/01/14/google-wants-to-phase-out-support-for-third-party-cookies-in-chrome-within-two-years/") kill them 
        |  "within 2 years"
      ul
        li Will make it very hard to track users across sites
        li The web is turning toward privacy (see Firefox, Safari)
        li Google sees the writing on the wall

        

    //----------------------  ICYMI  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/icymi.jpg)')
      .content
        h1 In Case You<br>Missed It
      .shim(style='background-color:#555;opacity:.7;')

    section.slide
      h2 
        a(href="https://free-for.dev/") free-for.dev
      blockquote This is a list of software (SaaS, PaaS, IaaS, etc.) and other offerings that have free tiers for developers.
      ul 
        li Cloud providers, CDNs, APIs, testing, email, way more...
        li It's an amazing amount of stuff &mdash; check it out!
        li Add to the list 
          a(href="https://github.com/ripienaar/free-for-dev") on GitHub

    section.slide
      h2 
        a(href="https://tiny-helpers.dev/") Tiny Helpers
      blockquote A collection of free single-purpose online tools for web developers
      ul 
        li Pretty much as it says on the tin
        li Really handy stuff, be sure to take a look
      img(src="./images/tiny-helpers.png", alt="Tiny Helpers", style="width: 40%")

    section.slide
      h2 Beware Y2038
      ul 
        li  
          a(href="https://twitter.com/jxxf/status/1219009308438024200") Interesting story
          |  about a recent Y2038 bug that cost $1.7M to fix
        li UNIX timestamps used to be a signed 32-bit ints
        li Max value is 2147483647
        li Jan 1, 1970 00:00:00 UTC + 2147483647 secs = Jan 19, 2038 03:14:07 UTC
      img(src="./images/y2k.jpg", alt="y2k", style="width: 40%")


    //----------------------  Events  ----------------------

    //- section.slide.cover(style='background-image:url(../../shared/resources/images/events.jpg)')
    //-   .content
    //-     h1 Upcoming Events
    //-   .shim(style='background-color:#369;opacity:.6;')

    //- section.slide
    //-   h2 X
    //-   blockquote X
    //-   ul 
    //-     li X
    //-   img(src="./images/X.png", alt="X", style="max-width: 50%")


    //----------------------  Something Completely Different  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/anfscd.jpg)')
      h1 And now for something completely different...

    section.slide
      h2 CSS Diner
      ul 
        li Learn CSS with this 
          a(href="http://flukeout.github.io/") simple browser selector game
        li It's oddly satisfying
      img(src="./images/css-diner.png", alt="CSS Diner", style="width: 50%")

    section.slide
      h2 RIP Terry Jones
      ul
        li The founding member of 
          a(href="https://en.wikipedia.org/wiki/Monty_Python") Monty Python
          |  sadly 
          a(href="https://www.cnn.com/2020/01/22/entertainment/terry-jones-dies-scli-gbr-intl/index.html") died today
        li Did you know...
        ul
          li The term for email "spam" is 
            a(href="https://en.wikipedia.org/wiki/Spamming#Etymology") derived from
            |  a 1970 Python sketch
          li It referred to the ubiquity of real Spam in post-WWII Britain
      a(href="https://www.dailymotion.com/video/x9fly1")
        img(src="./images/spam_waitress.jpg", alt="Spam", width="30%")
      

    //----------------------  On the Lighter Side  ----------------------
    
    //- section.slide.cover(style='background-image:url(../../shared/resources/images/lighter-side.jpg)')
    //-   .content
    //-     h1 On the<br>Lighter Side
    //-   .shim(style='background-color:#561d49;opacity:.7;')

    //- section.slide
    //-   h2 
    //-   blockquote xkcd styled chart lib
    //-   ul 
    //-     li You know 
    //-       a(href='https://xkcd.com/149/') xkcd
    //-       | , right?
    //-     li Now you can 
    //-       a(href='https://timqian.com/chart.xkcd/') draw charts
    //-       |  in that style!
    //-   img(src="./images/xkcd-charts.gif", alt="xkcd charts", style="max-width: 80%")


    //----------------------  Fin  ----------------------
    
    section.slide
      h2 Thanks!
      h3
        a(href='https://edgeatx.org/slides/') edgeATX.org/slides
      h3
        | Brian Moeskau (
        a(href='https://twitter.com/bmoeskau', target='_blank') @bmoeskau
        | )
      br
      img(src='../../shared/resources/images/bleeding-web.gif', alt='Bleeding Edge Web', style='display: block; max-width: 20vw;')
    

    //----------------------  Slide stuff  ----------------------

    // Begin extension snippets. Add or remove as needed.
    // deck.navigation snippet
    a.deck-prev-link(href='#', title='Previous') ←
    a.deck-next-link(href='#', title='Next') →
    
    // deck.status snippet
    p.deck-status
      span.deck-status-current
      |  /
      span.deck-status-total
    
    // deck.goto snippet
    form.goto-form(action='.', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')
    
    // deck.hash snippet
    a.deck-permalink(href='.', title='Permalink to this slide') #

    // Required JS files.
    script(src='../../shared/resources/js/jquery-1.7.2.min.js')
    script(src='../../shared/core/deck.core.js')
    
    // Extension JS files. Add or remove as needed.
    script(src='../../shared/core/deck.core.js')
    script(src='../../shared/extensions/hash/deck.hash.js')
    script(src='../../shared/extensions/menu/deck.menu.js')
    script(src='../../shared/extensions/goto/deck.goto.js')
    script(src='../../shared/extensions/status/deck.status.js')
    script(src='../../shared/extensions/navigation/deck.navigation.js')
    script(src='../../shared/extensions/scale/deck.scale.js')
    script(src='../../shared/core/deck.init.js')
    // <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
