.deck-container {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.2em;
  font-weight: 400;
  background: #000000;
  color: #ffffff;

  .slide {
    background: #000000;

    h1 {
      color: #888888;
      letter-spacing: -.05em;
    }
    h2 {
      color: #E91E63;
      border-bottom: 0;
      padding: 20px 0 10px 0;
      letter-spacing: -.05em;
      font-size: 2.4em;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: .7em;
      font-weight: 500;
    }

    strong {
      font-weight: 800;
      color: #E91E63;
    }

    pre {
      code {
        overflow: hidden;
        font-size: .9em;
        letter-spacing: 1.5px;
      }
    }
    
    blockquote {
      font-size: .9em;
      font-style: italic;
      padding: .8em 3em .8em 1.5em;
      color: #cccccc;
      background: #1f1f1f;
      border-left: 5px solid #666666;

      p {
        margin: 0;
      }

      cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #cccccc;
      }
    }

    table.table td {
      border: 1px solid #ccc;
      padding: 5px;
    }
    thead td {
      font-weight: 800;
    }

    span.code {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-weight: 400;
      margin: 0;
      color: #cccccc;
      border: 1px solid #777777;
      background-color: #222222;
      border-radius: 3px;
      padding: 1px 8px 2px;
      white-space: nowrap;
    }

    ::-moz-selection{ background:#c00; color:#fff; }
    ::selection { background:#c00; color:#fff; }

    a, a:visited {
      color: #75B1F5 !important;
      border-bottom: 2px dotted #333B46;

      &, &:hover, &:focus, &:active, &:visited {
        color: #E91E63;
        text-decoration: none;
      }

      &:hover, &:focus {
        border-bottom: 1px solid #E91E63;
      }

      span.code {
        color: #75B1F5 !important;
        border-bottom: 2px dotted #333B46;
      }
    }

    // top-level lists:
    ul {
      margin-left: .5em;
    }
    li {
      line-height: 1.5em;
      list-style: none;
      padding: .15em 0;
    }
    li:before {
      content: '\029BF'; // &ofcir;
      color: #E91E63;
      padding-right: 20px;
    }
    
    // second-level lists:
    ul ul {
      margin-bottom: 0;
    }
    ul ul li {
      padding-left: .6em;
    }
    ul ul li:before {
      content: '\2192'; // &rarr;
      color: #E91E63;
      padding-right: 20px;
    }

    .small {
      font-size: 75%;
    }
    .strike {
      text-decoration: line-through;
    }
    .dim {
      opacity: .4;
    }
    .indent {
      margin-left: 2em;
    }
  }

  > .slide {
    .deck-before, .deck-previous {
      opacity:0.4;

      &:not(.deck-child-current) {
        .deck-before, .deck-previous {
          opacity:1;
        }
      }
    }

    .deck-child-current {
      opacity:1;
    }
  }

  .deck-prev-link, .deck-next-link {
    background: #222222 !important;
    color: #999999 !important;
    font-family: serif;
  }

  .deck-status {
    font-size: 0.6666em;
    right: 15px;
    color: #555555;
  }

  &.deck-menu {
    .slide {
      background:#eee;
    }

    .deck-current, .no-touch & .slide:hover {
      background:#ddf;
    }
  }

  .cover {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    h1 {
      color: #fff;
      text-shadow: 0 5px 10px rgba(0,0,0,.7);
      line-height: 1em;
    }
    h2 {
      color: #fff;
      border-bottom: none;
    }
    a, a:visited {
      color: #fff !important;
    }
    .content {
      z-index: 99;
    }
    .shim {
      z-index: -99;
      background: #000;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: .6;
    }
  }

  .cover-light {
    @extend .cover;
    .shim {
      background: #fff;
      opacity: .7;
    }
    h1 {
      color: #000;
    }
    h2 {
      color: #1f4c7f;
    }
    h3 {
      color: #444;
    }
    h1, h2, h3 {
      text-shadow: 0 2px 0 rgba(255,255,255,.7);
    }
    a, a:visited, p, li {
      color: #333;
      text-shadow: 0 1px 0 rgba(255,255,255,.7);
    }
  }

  .title {
    background-color: #0F91DA;

    h1, h2, h3 {
      color: #fff;
    }
    h1 {
      line-height: 1em;
    }
  }

  .home {
    background-image: url(../../resources/images/bleeding-edge.jpg);
  }

  .browser-table {
    td {
      text-align: center;
      width: 20%;

      img {
        height: 7em;
        margin-bottom: 0;
      }
      p {
        margin-top: 15px;
        font-size: 2em;
      }
    }
  }

  .corner-image {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }

  .cols-2 {
    column-count: 2;
    column-gap: 30px;
  }
  .cols-3 {
    column-count: 3;
    column-gap: 30px;
  }
}

// Prism (code formatting) overrides
:not(pre) > code[class*="language-"] {
  background: #222222;
  padding: .1em .3em;
  border-radius: .2em;
  border: 2px solid #444444;
}
pre[class*="language-"] {
  background: #1F1F1F;
  border: 2px solid #333333;
  border-radius: .2em;
  padding: .3em .6em;
}

.browsers {
  td {
    text-align: center;
  }
  .ver {
    font-size: 2.5em;
    font-weight: 600;
  }
  .build {
    font-size: 50%;
  }
  .pct {
    font-size: .8em;
    padding-left: 15px;
  }
}

.star:before {
  content: '\2606'; /* &star; */
  color: #E91E63;
  padding-right: 20px;
}
.lightning:before {
  content: '\26A1';
  padding-right: 20px;
}

img[alt=""],
img:not([alt]) {
  border: 10px dashed #c00;
}

.title-cyan {
  background: #d15dd1 !important;
}
p {
  color: #ffffff;
}
.bugs>tbody>tr>th {
  background-color: rgba(255, 255, 255, .15) !important;
  color: gold !important;
  text-align: left !important;
}
.bugs>tbody>tr>th,
.bugs>tbody>tr>td,
.bugs>tbody {
  padding: 10px !important;
  border: 2px solid rgba(255, 255, 255, .15) !important;
}
.bugs>tbody>tr>td:nth-of-type(2),
.bugs>tbody>tr>td:nth-of-type(3),
.bugs>tbody>tr>th:nth-of-type(2),
.bugs>tbody>tr>th:nth-of-type(3) {
  text-align: center !important;
}
.smallcaps {
  font-feature-settings: "smcp" on;
}
.allsmallcaps {
  font-feature-settings: "c2sc", "smcp";
}
.hist {
  font-feature-settings: "hist";
}
.noligs {
  font-feature-settings: "liga" 0;
}
td.tabular {
  font-feature-settings: "tnum";
}
.fractions {
  font-feature-settings: "frac";
}
.swash {
  font-feature-settings: "swsh" 2;
}
.fancystyle {
  font-family: Gabriola;
  /* available on Windows 7, and on Mac OS */
  font-feature-settings: "ss07";
}
.microlight {
  font-family: monospace;
  white-space: pre;
  background-color: transparent;
  color: #C4E4E8;
  font-size: 3vh;
  padding: 20px !important;
  margin: 40px 0 !important;
  background-color: rgba(255, 255, 255, .08);
  border-radius: 3px;
}