body {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Open Sans', 'Monaco', 'Consolas', 'Fira Code', 'Arial';
}

chassis-cycle {
  display: flex;
  flex: 1 1 auto;
  width: 100vw;
  height: 100vh;
}

chassis-cycle > section {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  color: rgba(255, 255, 255, .9);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  font-size: 5vh;
  padding: 0 3vw;
}

h1 {
  width: 100%;
  max-height: 7vh;
  padding: 0 0 2vh 0;
  font-size: 6vh;
  color: rgba(241, 196, 15, .9);
  border-bottom: 2px solid rgba(241, 196, 15, .6);
}

ol, ul {
  margin-left: 4vw;
}

li {
  margin: 1.5vh 0;
}

a {
  text-decoration: none;
  /*color: #78b3f2;*/
  color: rgba(89, 171, 227, 1)
}

p {
  font-size: 3vh;
  padding: 0;
  margin: 0 0 1vh 0;
}

blockquote {
  font-style: italic;
  color: rgba(255,255,255,.69);
}

.author {
  opacity: .9;
  font-size: smaller;
}

.cover {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  padding: 0 !important;
}

.cover h1 {
  color: rgba(255, 255, 255, .97);
}

.bleedingedge_slide {
  background: url(../../../../shared/resources/images/bleeding-edge.jpg) no-repeat;
}

.bleedingedge_slide:after {
  content: 'edgeatx.github.io/slides \A edgeatx.slack.com \A edgeatx-invite.herokuapp.com';
  text-align: center;
  white-space: pre;
  font-size: 6vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  /*flex: 1 1 auto;*/
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0,0,0,.69);
}

.bleedingedge_slide:before {
  content: 'Bleeding Edge Web';
  text-align: center;
  white-space: pre;
  font-size: 12vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.39);
}

.welcome_slide {
  background: url(../../../../shared/resources/images/popcorn.jpg) no-repeat;
}

.welcome_slide:after {
  content: 'edgeatx.github.io/slides';
  font-size: 12vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.39);
}

.slack_slide {
  background: url(../../../../shared/resources/images/slack.png) no-repeat;
}

.slack_slide:after {
  content: 'edgeatx.slack.com \A edgeatx-invite.herokuapp.com';
  text-align: center;
  white-space: pre;
  font-size: 10vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.69);
}

.libraries_slide {
  background: url(../../../../shared/resources/images/html-js-css.png) no-repeat;
}

.libraries_slide:after {
  content: 'Libraries & \A Frameworks';
  text-align: center;
  white-space: pre;
  font-size: 10vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 121, 9, .8)
}

.missed_slide {
  background: url(../../../../shared/resources/images/icymi.jpg) no-repeat;
}

.missed_slide:after {
  content: 'In case you \A missed it...';
  text-align: center;
  white-space: pre;
  font-size: 10vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, .48)
}

.trending_slide {
  background: url(../../../../shared/resources/images/trending.jpg) no-repeat;
}

.trending_slide:after {
  content: ' ';
  text-align: center;
  white-space: pre;
  font-size: 10vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0,0,0, 0)*/
}

.completelydifferent_slide {
  background: url(../../../../shared/resources/images/anfscd.jpg) no-repeat;
}

.completelydifferent_slide:after {
  content: 'And now \A for Something \A Completely Different';
  text-align: center;
  white-space: pre;
  font-size: 10vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, .5)
}

.capitalfactory_slide {
  background: url(../../../../shared/resources/images/capitalfactorylogo.png);
}

.sponsor {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor img {
  display: block;
}

.sponsor:after {
  content: 'Thanks to our sponsor:';
  font-size: 6vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .79);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-start;
  padding: 10vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.light {
  background: rgba(255, 255, 255, 1);
}

.sponsor.light:after {
  color: rgba(0, 0, 0, .26) !important;
  text-shadow: none;
  /*text-shadow: 2px 1px rgba(0,0,0, .19);*/
}

.bleedingedgenews {
  background: #cd64cf;
  /*rgba(219, 10, 91, 1);*/
}

.bleedingedgenews:after {
  content: 'News from the \A Bleeding Edge';
  text-align: center !important;
  white-space: pre;
  font-size: 12vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0,0,0,.69);*/
}

.browserupdate_slide {
  background: url(../../../../shared/resources/images/browsers.jpg) no-repeat;
}

.browserupdate_slide:after {
  content: 'Browser Update';
  font-size: 12vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 19, 55, .79);
}

.events_slide {
  background: url(../../../../shared/resources/images/events.jpg) no-repeat;
}

.events_slide:after {
  content: 'Upcoming Events';
  font-size: 12vh;
  font-weight: bold;
  color: rgba(255, 255, 255, .9);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .59);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 19, 55, .79);
}

.browser_list {
  display: flex;
  max-width: 100vw;
}

.browser {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding-top: 23vh;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-size: 20vh 20vh !important;
  flex-direction: column;
  margin-top: 8vh;
}

.browser span {
  display: flex;
  min-height: 10vh;
  max-height: 10vh;
  justify-content: center;
}

.browser span.old {
  text-decoration: line-through;
  color: rgba(255, 255, 255, .4);
}

.browser span.new {
  color: rgba(46, 204, 113,1.0);
}

.chrome {
  background: url(../../../../shared/resources/images/chrome.png);
}

.firefox {
  background: url(../../../../shared/resources/images/firefox.png);
}

.opera {
  background: url(../../../../shared/resources/images/opera.png);
}

.edge {
  background: url(../../../../shared/resources/images/edge.png);
}

.safari {
  background: url(../../../../shared/resources/images/safari.png);
}

.hidden {
  opacity: 0;
  display: none;
}

.microlight {
  font-family: monospace;
  white-space: pre;
  background-color: transparent;
  color: #C4E4E8;
  font-size: 3vh;
  padding: 1.5vh;
  margin: 1.5vh 0;
  background-color: rgba(255,255,255,.08);
  border-radius: 3px;
}
