doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    title Bleeding Edge Web: February 2020

    // Required stylesheet
    link(rel='stylesheet', href='../../shared/core/deck.core.css')
    
    // Extension CSS files go here. Remove or add as needed.
    link(rel='stylesheet', href='../../shared/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='../../shared/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='../../shared/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='../../shared/extensions/status/deck.status.css')
    link(rel='stylesheet', href='../../shared/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='../../shared/extensions/scale/deck.scale.css')
    
    // Transition theme. More available in /themes/transition/ or create your own.
    link(rel='stylesheet', href='../../shared/themes/transition/fade.css')
    
    // Required Modernizr file
    script(src='../../shared/resources/js/modernizr-2.8.3.js')
    
    // Pretty print
    script(src='../../shared/prism/prism-okaidia.js')
    link(rel='stylesheet', href='../../shared/prism/prism-okaidia.css')
    
    // Custom theme, include last to allow easy overriding
    link(rel='stylesheet', href='../../shared/themes/build/skew-dark.css')
    script(type='text/javascript', src='../../shared/resources/js/microlight.js')
  
  body.deck-container.language-javascript

    //----------------------  Intro  ----------------------

    section.slide.cover.home
      h1(style='font-size:4em;top:30%;') Bleeding Edge Web
      h1(style='font-size:2.5em;top:65%;')
        a(href='https://twitter.com/edgeatx') @edgeATX
      h1(style='font-size:2.5em;top:80%;')
        a(href='https://www.edgeatx.org/') edgeATX.org
      .shim(style='opacity:.5;')
    
    section.slide
      h2 Bleeding Edge Web: February 2020

      h3.star News From the Bleeding Edge
      p.indent
        | &mdash; Brian Moeskau (
        a(href='https://twitter.com/bmoeskau') @bmoeskau
        | )

      h3.lightning A CLI-First Approach to Web Development
      p.indent
        | &mdash; Corey Butler (
        a(href='https://twitter.com/goldglovecb') @goldglovecb
        | )
      
      h3.star TypeScript In-Depth
      p.indent
        | &mdash; Ted Patrick (
        a(href='https://twitter.com/__ted__') @__ted__
        | )


    //----------------------  Housekeeping  ----------------------

    section.slide
      h2 Housekeeping
      ul
        li Speakers and sponsors <strong>always wanted</strong>
        ul
          li
            a(href='https://www.edgeatx.org') edgeatx.org/speak.html
          li
            a(href="https://www.edgeatx.org/sponsorship.html") edgeatx.org/sponsorship.html
        li Join us on 
          a(href="https://edgeatx-invite.herokuapp.com/") Slack
      

    //----------------------  Sponsors  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/nascar.jpg)')
      h1 Thanks to<br>Our Sponsors
      .shim(style='background-color:#432c9a;opacity:.8;')

    section.slide.cover(style="background:#fff;")
      div(style='text-align:center;padding-top:100px;font-size:200%;')
        p
          a(href='https://company.auntbertha.com/' alt='Aunt Bertha website')
            img(style='width:70%;padding-top:100px;', src='../../shared/resources/images/sponsors/aunt-bertha-logo.png', alt='Aunt Bertha website')
    
    section.slide.cover(style="background:#1a73d9;")
      div(style='text-align:center;padding-top:0;font-size:200%;')
        p
          a(href='https://events.indeed.com/hiringevents/' alt='Indeed Hiring website')
            img(style='width:85%;padding-top:100px;', src='../../shared/resources/images/sponsors/indeed-hiring-logo.png', alt='Indeed Hiring website')


    //----------------------  Begin slides  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/newspaper.gif)')
      h1 News from the<br>Bleeding Edge
      .shim(style='background-color:#d15dd1;opacity:.9;')
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/browsers.jpg)')
      .content
        h1 Browser<br>Update
      .shim(style='background-color:#369;opacity:.8;')
    
    section.slide
      h2 Browser Pop Quiz
      h3 Last check January 21, 2020:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/edge-final.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 79
          td.ver 79
          td.ver 72
          td.ver 13
    
    section.slide
      h2 Browser Pop Quiz
      h3 As of February 25, 2020:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/edge-final.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 
            span.strike.dim 79
            br
            strong(style='color:#1CA727') 80
          td.ver
            span.strike.dim 79
            br
            strong(style='color:#1CA727') 80
          td.ver 
            span.strike.dim 72
            br
            strong(style='color:#1CA727') 73
          td.ver 13
    
    section.slide
      h2 Chrome 80
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      p Released February 4th — 
        a(href='https://developers.google.com/web/updates/2020/02/nic80') Release Notes
        |  (
        a(href='https://www.youtube.com/watch?v=lM0qZpxu0Fg') video
        | )

      h3.star
        a(href="https://web.dev/contact-picker/") Contact Picker API
      p Graduated from 
        a(href="https://www.edgeatx.org/slides/2020/01-jan/#slide-10") origin trial
        |  status

      img(src='./images/contact-picker.jpg', alt='Contact picker', style='max-width:600px')

    section.slide
      h2 Chrome 80
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      h3.star PWA-related Origin Trial Graduates
      p 
        a(href="https://web.dev/periodic-background-sync/") Periodic Background Sync API
      p Sync your web app's data in the background for a more native-like experience
      p 
        a(href="https://web.dev/get-installed-related-apps/")
          span.code getInstalledRelatedApps()
      p Allows your web app to check whether your native app is installed on a user's device, and vice versa.
 
    section.slide
      h2 Chrome 80
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      h3.star New Origin Trials
      ul
        li
          a(href="https://web.dev/content-indexing-api/") Content Indexing API
        li
          a(href="https://web.dev/notification-triggers/") Notification Triggers
        li and more
      p Check out the complete list of 
        a(href="https://developers.chrome.com/origintrials/#/trials/active") active origin trials

    section.slide
      h2 Chrome 80
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      h3.star JS Optional Chaining
      p Old:
      pre
        code 
          | let nameLength;
          |  if (db && db.user && db.user.name)
          |  nameLength = db.user.name.length;
      p New:
      pre
        code 
          | const nameLength = db?.user?.name?.length;

    section.slide
      h2 Chrome 80
      img(src='../../shared/resources/images/chrome.png', class='corner-image', width='200px', alt='Chrome')
      h3.star Text Fragment Linking
      p Chrome will scroll to and highlight the first instance of the fragment:
      a(href="https://en.wikipedia.org/wiki/Rickrolling#:~:text=New%20York") https://en.wikipedia.org/wiki/Rickrolling#:~:text=New%20York


    section.slide
      h2 Edge 80
      img(src='../../shared/resources/images/edge-final.png', class='corner-image', width='200px', alt='Edge')
      p Released February 7th — 
        a(href='https://docs.microsoft.com/en-us/deployedge/microsoft-edge-relnote-stable-channel#version-80036148-february-7') Release Notes
      ul
        li Updated to Chromium 80
        li Various Windows-specific users features

    
    section.slide
      h2 Firefox 73
      img(src='../../shared/resources/images/firefox.png', class='corner-image', width='200px', alt='Firefox')
      p Released February 11th — 
        a(href='https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/73') Release Notes
      ul
        li Pretty minor release, nothing too interesting
        li 
          strong v74 Note
          | : TLS 1.0 &amp; 1.1 support will be removed (~March 10)


    //----------------------  Libs & Frameworks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/html-js-css.png)')
      h1 Languages, Libraries &amp;<br>Frameworks
      .shim(style='background-color:#AD7909;opacity:.8;')

    section.slide
      h2 Angular 9
      img(src='../../shared/resources/images/angular-logo.png', class='corner-image', width='200px', alt='Angular')
      p Released February 6th — 
        a(href='https://blog.angular.io/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3') Release Notes
      ul
        li New 
          a(href="https://angular.io/guide/ivy") Ivy Compiler
          |  and runtime (huge bundle reductions)
        li New YouTube and Google Maps components
        li Component harnesses for testing components
        li TypeScript 3.7 support

    section.slide
      h2 
        a(href="https://blitzjs.com/") Blitz.js
      blockquote a Ruby on Rails equivalent for monolithic fullstack React apps
      p Announced February 17th — 
        a(href='https://twitter.com/flybayer/status/1229425878481793024') thread
        |  (not public yet)
      ul
        li Claims to be "Rails good parts + React good parts"
        li Eliminate all boilerplate and grunt work
        li Still vaporware! But coming soon...

      
    //----------------------  Tips & Tricks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/tips-tricks.jpg)')
      .content
        h1 Tips &amp; Tricks
      .shim(style='background-color:#6d0264;opacity:.7;')
  
    section.slide
      h2 2020 Front-End Perf Checklist
      blockquote Everything you need to know to create fast experiences on the web today. 
      ul 
        li An great overview of 
          a(href="https://www.smashingmagazine.com/2020/01/front-end-performance-checklist-2020-pdf-pages/") modern performance strategies
        li Updated every year since 2016
        li It's long, but web devs 
          strong really 
          | should read it
      img(src="./images/speed-calc.webp", alt="Speed Calculator", style="max-width: 40%")


    //----------------------  Security  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/security.jpg)')
      .content
        h1 Security
      .shim(style='background-color:#c11;opacity:.7;')
  
    section.slide
      h2 Chrome Password Checker
      p 
        a(href="https://passwords.google.com/") https://passwords.google.com
      ul
        li If you manage passwords in Chrome you now can audit them
        li It will also suggest strong passwords a la Safari
      img(src="./images/passwords.google.com.png" alt="Google Password Checker" style="width:50%")

    
    //----------------------  Industry Headlines  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/industry.jpg)')
      .content
        h1 Industry<br>Headlines
      .shim(style='background-color:#393;opacity:.7;')

    section.slide
      h2 Npm Outage Feb 17th
      p Caused by a Cloudflare
        a(href="https://github.com/npm/cli/issues/836#issuecomment-587019096") DDoS protection bug
      ul
        li Cloudflare tweaked HTTP header rules to identify bad traffic
        li Npm uses a non-standard "install" referer
        li Cloudflare started treating npm installs as DDoS attacks on npm!
        li They reverted, but npm was basically down for 2 hours
      p Great reminder to 
        a(href="https://twitter.com/bitandbang/status/1229467759437910016") prepare for such things
        

    //----------------------  ICYMI  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/icymi.jpg)')
      .content
        h1 In Case You<br>Missed It
      .shim(style='background-color:#555;opacity:.7;')

    section.slide
      h2 
        a(href="https://gitexplorer.com/") Git Command Explorer
      blockquote Find the right commands you need without digging through the web.
      ul
        li Just tell it what you want to do!
        li It will give you the exact CLI commands
      img(src="./images/git-explorer.png", alt="Git command explorer")


    //----------------------  Events  ----------------------

    //- section.slide.cover(style='background-image:url(../../shared/resources/images/events.jpg)')
    //-   .content
    //-     h1 Upcoming Events
    //-   .shim(style='background-color:#369;opacity:.6;')

    //- section.slide
    //-   h2 X
    //-   blockquote X
    //-   ul 
    //-     li X
    //-   img(src="./images/X.png", alt="X", style="max-width: 50%")


    //----------------------  Something Completely Different  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/anfscd.jpg)')
      h1 And now for something completely different...

    section.slide
      h2 CSS Diner
      ul 
        li Learn CSS with this 
          a(href="http://flukeout.github.io/") simple browser selector game
        li It's oddly satisfying
      img(src="./images/css-diner.png", alt="CSS Diner", style="width: 50%")
      

    //----------------------  On the Lighter Side  ----------------------
    
    //- section.slide.cover(style='background-image:url(../../shared/resources/images/lighter-side.jpg)')
    //-   .content
    //-     h1 On the<br>Lighter Side
    //-   .shim(style='background-color:#561d49;opacity:.7;')

    //- section.slide
    //-   h2 
    //-   blockquote xkcd styled chart lib
    //-   ul 
    //-     li You know 
    //-       a(href='https://xkcd.com/149/') xkcd
    //-       | , right?
    //-     li Now you can 
    //-       a(href='https://timqian.com/chart.xkcd/') draw charts
    //-       |  in that style!
    //-   img(src="./images/xkcd-charts.gif", alt="xkcd charts", style="max-width: 80%")


    //----------------------  Fin  ----------------------
    
    section.slide
      h2 Thanks!
      h3
        a(href='https://edgeatx.org/slides/') edgeATX.org/slides
      h3
        | Brian Moeskau (
        a(href='https://twitter.com/bmoeskau', target='_blank') @bmoeskau
        | )
      br
      img(src='../../shared/resources/images/bleeding-web.gif', alt='Bleeding Edge Web', style='display: block; max-width: 20vw;')
    

    //----------------------  Slide stuff  ----------------------

    // Begin extension snippets. Add or remove as needed.
    // deck.navigation snippet
    a.deck-prev-link(href='#', title='Previous') ←
    a.deck-next-link(href='#', title='Next') →
    
    // deck.status snippet
    p.deck-status
      span.deck-status-current
      |  /
      span.deck-status-total
    
    // deck.goto snippet
    form.goto-form(action='.', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')
    
    // deck.hash snippet
    a.deck-permalink(href='.', title='Permalink to this slide') #

    // Required JS files.
    script(src='../../shared/resources/js/jquery-1.7.2.min.js')
    script(src='../../shared/core/deck.core.js')
    
    // Extension JS files. Add or remove as needed.
    script(src='../../shared/core/deck.core.js')
    script(src='../../shared/extensions/hash/deck.hash.js')
    script(src='../../shared/extensions/menu/deck.menu.js')
    script(src='../../shared/extensions/goto/deck.goto.js')
    script(src='../../shared/extensions/status/deck.status.js')
    script(src='../../shared/extensions/navigation/deck.navigation.js')
    script(src='../../shared/extensions/scale/deck.scale.js')
    script(src='../../shared/core/deck.init.js')
    // <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
