doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    title Bleeding Edge Web: May 2019

    // Required stylesheet
    link(rel='stylesheet', href='../../shared/core/deck.core.css')
    
    // Extension CSS files go here. Remove or add as needed.
    link(rel='stylesheet', href='../../shared/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='../../shared/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='../../shared/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='../../shared/extensions/status/deck.status.css')
    link(rel='stylesheet', href='../../shared/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='../../shared/extensions/scale/deck.scale.css')
    
    // Transition theme. More available in /themes/transition/ or create your own.
    link(rel='stylesheet', href='../../shared/themes/transition/fade.css')
    
    // Required Modernizr file
    script(src='../../shared/resources/js/modernizr-2.8.3.js')
    
    // Pretty print
    script(src='../../shared/prism/prism-okaidia.js')
    link(rel='stylesheet', href='../../shared/prism/prism-okaidia.css')
    
    // Custom theme, include last to allow easy overriding
    link(rel='stylesheet', href='../../shared/themes/build/skew-dark.css')
    script(type='text/javascript', src='../../shared/resources/js/microlight.js')
  
  body.deck-container.language-javascript

    //----------------------  Intro  ----------------------

    section.slide.cover.home
      h1(style='font-size:4em;top:30%;') Bleeding Edge Web
      h1(style='font-size:2.5em;top:65%;')
        a(href='https://twitter.com/edgeatx') @edgeATX
      h1(style='font-size:2.5em;top:80%;')
        a(href='https://www.edgeatx.org/') edgeATX.org
      .shim(style='opacity:.5;')
    
    section.slide
      h2 Bleeding Edge Web: May 2019

      h3.star News From the Bleeding Edge
      p.indent
        | &mdash; Brian Moeskau (
        a(href='https://twitter.com/bmoeskau') @bmoeskau
        | )

      h3.lightning How I Used CSS &amp; JS to Remodel a Condo
      p.indent
        | &mdash; Corey Butler (
        a(href='https://twitter.com/goldglovecb') @goldglovecb
        | )
  
      h3.star Make Your React App Progressive
      p.indent
        | &mdash; Cullen Tsering


    //----------------------  Sponsors  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/capitalfactory-bg.jpg)')
      p(style='color: #fff;') Thanks to our venue:
      div(style='text-align:center;padding-top:100px;font-size:200%;')
        p
          a(href='https://www.capitalfactory.com/')
            img(style='min-width:40%', src='../../shared/resources/images/sponsors/capitalfactory-logo2.png', alt='Capital Factory')
      .shim(style='background-color:#555;opacity:.5;')
    
    section.slide.cover(style='background:#fff;')
      p(style='color: #555;') Thanks to our premiere sponsor:
      div(style='text-align:center;padding-top:150px;font-size:200%;')
        p
          a(href='https://theguild.co/aboutus')
            img(style='min-width:50%', src='../../shared/resources/images/sponsors/theguild-logo.png', alt='The Guild')


    //- section.slide.cover(style='background-image:url(./images/cloudflare-stickers.jpg)')
    //-   p(style='color: #fff;') Thanks to our sponsor:
    

    //----------------------  Housekeeping  ----------------------

    section.slide
      h2 Housekeeping
      ul
        li Speakers and sponsors <strong>always wanted</strong> (
          a(href='https://www.edgeatx.org') edgeatx.org
          | )
        li Don't forget your parking validation
        li Omni hotel bar (downstairs) after meetup
        li Anyone hiring / looking?


    //----------------------  Begin slides  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/newspaper.gif)')
      h1 News from the<br>Bleeding Edge
      .shim(style='background-color:#d15dd1;opacity:.9;')
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/browsers.jpg)')
      .content
        h1 Browser<br>Update
      .shim(style='background-color:#369;opacity:.8;')
    
    section.slide
      h2 Browser Pop Quiz
      h3 Last check: April 18, 2019:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 74
          td.ver 66
          td.ver 18
          td.ver 12
    
    section.slide
      h2 Browser Pop Quiz
      h3 As of May 16, 2019:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 74
          td.ver
            span.strike.dim 66
            br
            strong(style='color:#1CA727') 67
          td.ver 18
          td.ver 12

    section.slide
      h2 Firefox 67
      img(src='../../shared/resources/images/firefox.png', class='corner-image', width='200px', alt='Firefox')
      p Released May 14th —
        a(href='https://developer.mozilla.org/en-US/Firefox/Releases/67') Release Notes
      h3.star 
        a(href='#') X
      ul
        li X
    

    //----------------------  Libs & Frameworks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/html-js-css.png)')
      h1 Languages, Libraries &amp;<br>Frameworks
      .shim(style='background-color:#AD7909;opacity:.8;')

    section.slide
      h2 X
      ul
        li X


    //----------------------  Security  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/security.jpg)')
      .content
        h1 Security
      .shim(style='background-color:#c11;opacity:.7;')
  
    section.slide
      h2 X
      ul
        li X

    
    //----------------------  Industry Headlines  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/industry.jpg)')
      .content
        h1 Industry<br>Headlines
      .shim(style='background-color:#393;opacity:.7;')

    section.slide
      h2 X
      ul
        li X


    //----------------------  ICYMI  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/icymi.jpg)')
      .content
        h1 In Case You<br>Missed It
      .shim(style='background-color:#555;opacity:.7;')

    section.slide
      h2 Front-end Dev Handbook 2019
      blockquote A guide that everyone can use to learn about the practice of front-end development.
      ul
        li Current / best-in-class tool recommendations
        li Read 
          a(href="https://frontendmasters.com/books/front-end-handbook/2019/#1") Chapter 0
          |  for a 2018 recap + 2019 preview

    

    //----------------------  Something Completely Different  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/anfscd.jpg)')
      h1 And now for something completely different...

    section.slide
      h2 X
      ul
        li X


    //----------------------  Fin  ----------------------
    
    section.slide
      h2 Thanks!
      h3
        a(href='https://edgeatx.org/slides/') https://edgeATX.org/slides
      h3
        | Brian Moeskau (
        a(href='https://twitter.com/bmoeskau', target='_blank') @bmoeskau
        | )
      br
      img(src='../../shared/resources/images/bleeding-web.gif', alt='Bleeding Edge Web', style='display: block; max-width: 20vw;')
    

    //----------------------  Slide stuff  ----------------------

    // Begin extension snippets. Add or remove as needed.
    // deck.navigation snippet
    a.deck-prev-link(href='#', title='Previous') ←
    a.deck-next-link(href='#', title='Next') →
    
    // deck.status snippet
    p.deck-status
      span.deck-status-current
      |  /
      span.deck-status-total
    
    // deck.goto snippet
    form.goto-form(action='.', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')
    
    // deck.hash snippet
    a.deck-permalink(href='.', title='Permalink to this slide') #

    // Required JS files.
    script(src='../../shared/resources/js/jquery-1.7.2.min.js')
    script(src='../../shared/core/deck.core.js')
    
    // Extension JS files. Add or remove as needed.
    script(src='../../shared/core/deck.core.js')
    script(src='../../shared/extensions/hash/deck.hash.js')
    script(src='../../shared/extensions/menu/deck.menu.js')
    script(src='../../shared/extensions/goto/deck.goto.js')
    script(src='../../shared/extensions/status/deck.status.js')
    script(src='../../shared/extensions/navigation/deck.navigation.js')
    script(src='../../shared/extensions/scale/deck.scale.js')
    script(src='../../shared/core/deck.init.js')
    // <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
