doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    title Bleeding Edge Web: May 2019

    // Required stylesheet
    link(rel='stylesheet', href='../../shared/core/deck.core.css')
    
    // Extension CSS files go here. Remove or add as needed.
    link(rel='stylesheet', href='../../shared/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='../../shared/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='../../shared/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='../../shared/extensions/status/deck.status.css')
    link(rel='stylesheet', href='../../shared/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='../../shared/extensions/scale/deck.scale.css')
    
    // Transition theme. More available in /themes/transition/ or create your own.
    link(rel='stylesheet', href='../../shared/themes/transition/fade.css')
    
    // Required Modernizr file
    script(src='../../shared/resources/js/modernizr-2.8.3.js')
    
    // Pretty print
    script(src='../../shared/prism/prism-okaidia.js')
    link(rel='stylesheet', href='../../shared/prism/prism-okaidia.css')
    
    // Custom theme, include last to allow easy overriding
    link(rel='stylesheet', href='../../shared/themes/build/skew-dark.css')
    script(type='text/javascript', src='../../shared/resources/js/microlight.js')
  
  body.deck-container.language-javascript

    //----------------------  Intro  ----------------------

    section.slide.cover.home
      h1(style='font-size:4em;top:30%;') Bleeding Edge Web
      h1(style='font-size:2.5em;top:65%;')
        a(href='https://twitter.com/edgeatx') @edgeATX
      h1(style='font-size:2.5em;top:80%;')
        a(href='https://www.edgeatx.org/') edgeATX.org
      .shim(style='opacity:.5;')
    
    section.slide
      h2 Bleeding Edge Web: May 2019

      h3.star News From the Bleeding Edge
      p.indent
        | &mdash; Brian Moeskau (
        a(href='https://twitter.com/bmoeskau') @bmoeskau
        | )

      h3.lightning How I Used CSS &amp; JS to Remodel a Condo
      p.indent
        | &mdash; Corey Butler (
        a(href='https://twitter.com/goldglovecb') @goldglovecb
        | )
  
      h3.star Make Your React App Progressive
      p.indent
        | &mdash; Cullen Tsering


    //----------------------  Housekeeping  ----------------------

    section.slide
      h2 Housekeeping
      ul
        li Speakers and sponsors <strong>always wanted</strong> (
          a(href='https://www.edgeatx.org') edgeATX.org
          |  for details)
        li Don't forget your parking validation
        li Omni hotel bar (downstairs) after meetup


    //----------------------  Sponsors  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/nascar.jpg)')
      h1 Thanks to<br>Our Sponsors
      .shim(style='background-color:#432c9a;opacity:.8;')

    section.slide.cover(style='background-image:url(../../shared/resources/images/capitalfactory-bg.jpg)')
      div(style='text-align:center;padding-top:100px;font-size:200%;')
        p
          a(href='https://www.capitalfactory.com/' alt='Capital Factory website')
            img(style='min-width:40%', src='../../shared/resources/images/sponsors/capitalfactory-logo2.png', alt='Capital Factory')
      .shim(style='background-color:#555;opacity:.5;')
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/sponsors/theguild.jpg)')
      a(href='https://theguild.co' alt='The Guild website')
        div(style='position:absolute;top:0;left:0;width:100%;height:100%')


    //----------------------  Begin slides  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/newspaper.gif)')
      h1 News from the<br>Bleeding Edge
      .shim(style='background-color:#d15dd1;opacity:.9;')
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/browsers.jpg)')
      .content
        h1 Browser<br>Update
      .shim(style='background-color:#369;opacity:.8;')
    
    section.slide
      h2 Browser Pop Quiz
      h3 Last check: April 18, 2019:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 74
          td.ver 66
          td.ver 18
          td.ver 12.
            span.small 1
    
    section.slide
      h2 Browser Pop Quiz
      h3 As of May 16, 2019:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 74
          td.ver 66
          td.ver 18
          td.ver 12.
            span.small 1

    section.slide.cover(style='background-image:url(./images/where-my-updates.jpg)')
    
    section.slide
      h2 Next Browser Updates
      ul
        li Firefox 67: 
          a(href="https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/67") May 21
        li Chrome 75: 
          a(href="https://www.chromestatus.com/features/schedule") June 4
        li Edge Next: 
          a(href="https://www.microsoftedgeinsider.com/en-us/download/") "Coming soon"
          |  (beta available for Win 10)
        li Safari 13: 
          a(href="https://developer.apple.com/documentation/safari_release_notes") September? 
          | 
          span.small ¯\_(ツ)_/¯
    
    section.slide
      h2 Chromium Edge + IE
      img(src='../../shared/resources/images/edge.png', class='corner-image', width='200px', alt='Edge')
      ul
        li Edge will offer "IE Mode"
        li Will use the IE rendering engine transparently
        li Single UI, settings, history, etc.
        li Will standalone IE finally go away for real?
      img(src="./images/ie.gif", alt="IE", style="width:50%")


    //----------------------  Libs & Frameworks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/html-js-css.png)')
      h1 Languages, Libraries &amp;<br>Frameworks
      .shim(style='background-color:#AD7909;opacity:.8;')

    section.slide
      h2 React libraries
      img(src='../../shared/resources/images/react-logo.png', class='corner-image', width='200px', alt='React')

      h3 React Boilerplate 4.0 
        span.small &mdash; 
          a(href="https://github.com/react-boilerplate/react-boilerplate/releases/tag/v4.0.0") Released 
          | April 18th
      ul
        li Hooks, 
          span.code Suspense
          |  (lazy loading)
        li
          span.code enzyme
          |  &rarr; 
          a(href="https://github.com/testing-library/react-testing-library")
            span.code react-testing-library
        li 
          span.code Immutable
          |  &rarr; 
          a(href="https://www.netlify.com/blog/2018/09/12/the-rise-of-immer-in-react/")
            span.code Immer

      h3 Create React App 3.0 
        span.small &mdash; 
          a(href="https://github.com/facebook/create-react-app") Released 
          | April 22th
      ul
        li Hooks, TypeScript linting

    section.slide
      h2 Svelte 3.0
      blockquote Cybernetically enhanced web apps
      img(src='../../shared/resources/images/svelte-logo.png', class='corner-image', width='200px', alt='Svelte')
      ul
        li 
          a(href="https://svelte.dev/blog/svelte-3-rethinking-reactivity") Released
          |  April 22nd
        li No virtual DOM &mdash; Compiles to vanilla JS
        li "Truly reactive" with no complex state management
        li Boilerplate-free components
        li Learn more about the 
          a(href="https://svelte.dev/blog/frameworks-without-the-framework") philosophy
          |  behind it

    section.slide
      h2 Node.js 12.0
      img(src='../../shared/resources/images/nodejs-logo.png', class='corner-image', width='200px', alt='Node.js')
      ul
        li
          a(href="https://medium.com/@nodejs/introducing-node-js-12-76c41a1b3f3f") Released
          |  April 23rd
        li Upgraded to V8 7.4: perf boost, plus 
          a(href="https://docs.google.com/document/d/13Sy_kBIJGP0XT34V1CV3nkWya4TwYx9L3Yv45LdGB6Q/edit") async stack traces
        li TLS 1.3 by default (
          a(href="https://www.cloudflare.com/learning-resources/tls-1-3/") faster and more secure
          | )
        li Better ES6 module support
        li Improved native modules, worker threads, heap management
        li Still on Node 6? 
          a(href="https://aws.amazon.com/blogs/developer/node-js-6-is-approaching-end-of-life-upgrade-your-aws-lambda-functions-to-the-node-js-10-lts/") Time to upgrade!

    section.slide
      h2 Electron 5.0
      img(src='../../shared/resources/images/electron-logo.jpg', class='corner-image', width='200px', alt='Electron')
      ul
        li
          a(href="https://electronjs.org/blog/electron-5-0") Released
          |  April 23rd
        li Progress toward 
          a(href="https://github.com/electron/electron/blob/5-0-x/docs/api/promisification.md") promisifcation
        li Multiple BrowserViews in a BrowserWindow
        li Access to macOS system colors
        li Includes a few minor breaking changes!

    section.slide
      h2 Babylon.js 4.0
      blockquote Brings powerful, beautiful, simple, and open 3D to the web
      img(src='../../shared/resources/images/babylonjs-logo.png', class='corner-image', width='200px', alt='Babylon.js')
      ul
        li
          a(href="https://blogs.windows.com/buildingapps/2019/04/30/babylon-js-4-0-is-here/") Released
          |  April 30th
        li WebGL-based graphics engine
        li Improved physics engine (
          a(href="https://playground.babylonjs.com/#3I55DK") cool demo
          | )
        li New visual scene inspector
        li Codebased moved to ES6 modules, up to 80% smaller payloads

    section.slide
      h2 .NET 5
      img(src='../../shared/resources/images/dotnet-logo.png', class='corner-image', width='200px', alt='.NET')
      ul
        li
          a(href="https://devblogs.microsoft.com/dotnet/introducing-net-5/") Announced 
          | May 6th
        li .NET Core 3.0 &rarr; .NET 5
        li Targets: Win / Linux / OSX / iOS / Android / tvOS / WASM / more...

      img(src="./images/dotnet5.png", alt=".NET 5", style="max-width:50%")
      
    //----------------------  Tips & Tricks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/tips-tricks.jpg)')
      .content
        h1 Tips &amp; Tricks
      .shim(style='background-color:#6d0264;opacity:.7;')
  
    section.slide
      h2 Designing for Dark Mode
      blockquote Implementing dark mode is easy, but designing for it is less so.
      ul 
        li OSX is pushing dark mode with Mojave
        li Here is a 
          a(href="https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode") great overview
          |  of things to consider
        li Choosing your "dark" color, typography, consistency
      img(src="./images/dark-mode.png", alt="Dark mode", style="max-width: 50%")

    section.slide
      h2 Designing for Dark Mode
      p This is an emerging 
        a(href="https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme") Level 5 Media Query
        |  standard:
      pre
        code
          | @media (prefers-color-scheme: dark) {
          |   /* dark mode styles */
          | }

      ul
        li Possible values: 
          span.code light
          | , 
          span.code dark
          | , or 
          span.code no-preference
        li Supported today in Safari 12.1
        li 
          a(href="https://techdows.com/2019/05/chrome-and-firefox-67-to-ship-css-prefers-color-scheme-media-feature.html") Slated
          |  for Chrome 76 &amp; Firefox 67
        li Here's a React-specific 
          a(href="https://www.youtube.com/watch?v=FjDo1mbkNtw") tutorial

    //----------------------  Security  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/security.jpg)')
      .content
        h1 Security
      .shim(style='background-color:#c11;opacity:.7;')
  
    section.slide
      h2 Docker Hub Hacked
      img(src='../../shared/resources/images/docker-logo.png', class='corner-image', width='200px', alt='Docker')
      ul
        li 
          a(href="https://success.docker.com/article/docker-hub-user-notification") Occurred
          |  on April 25th
        li 5% of user accounts accessed (~190k)
        li Leaked usernames, hashed passwords and source repo tokens
        li If you were affected they should have contacted you
        li Periodic reminder: <strong>Don't Reuse Passwords!</strong>

    
    //----------------------  Industry Headlines  ----------------------

    //- section.slide.cover(style='background-image:url(../../shared/resources/images/industry.jpg)')
    //-   .content
    //-     h1 Industry<br>Headlines
    //-   .shim(style='background-color:#393;opacity:.7;')

    //- section.slide
    //-   h2 X
    //-   ul
    //-     li X


    //----------------------  ICYMI  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/icymi.jpg)')
      .content
        h1 In Case You<br>Missed It
      .shim(style='background-color:#555;opacity:.7;')

    section.slide
      h2 Front-end Dev Handbook 2019
      blockquote A guide that everyone can use to learn about the practice of front-end development
      ul
        li Current / best-in-class tool recommendations
        li Read 
          a(href="https://frontendmasters.com/books/front-end-handbook/2019/#1") Chapter 0
          |  for a 2018 recap + 2019 preview

    section.slide
      h2 Googlebot Goes Evergreen
      img(src='../../shared/resources/images/googlebot.png', class='corner-image', width='200px', alt='Googlebot')
      ul
        li Googlebot is now 
          a(href="https://webmasters.googleblog.com/2019/05/the-new-evergreen-googlebot.html") based on Chromium 74
        li It supports 1000+ new features
          ul
            li ES6 syntax
            li
              a(href="https://developers.google.com/web/fundamentals/web-components/") WebComponent APIs
              | 
              span.small (Shadow DOM, custom elements)
            li
              a(href="https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video/#lazy_loading_images") IntersectionObserver
              |  
              span.small (for image lazy-loading)

    section.slide
      h2 
        a(href="https://github.com/features/package-registry") GitHub Package Registry
      blockquote Safely publish and consume packages within your organization or with the entire world
      ul
        li Publish private packages to use across your projects
        li Global CDN, integrated auth, managed permissions
        li Supports npm, Docker, Maven, NuGet, RubyGems
        li Currently in beta and on a waitlist


    //----------------------  Something Completely Different  ----------------------
    
    //- section.slide.cover(style='background-image:url(../../shared/resources/images/anfscd.jpg)')
    //-   h1 And now for something completely different...

    //- section.slide
    //-   h2 X
    //-   blockquote X
    //-   ul
    //-     li X


    //----------------------  On the Lighter Side  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/lighter-side.jpg)')
      .content
        h1 On the<br>Lighter Side
      .shim(style='background-color:#561d49;opacity:.7;')

    section.slide
      h2 JS + Web Audio Pedalboard
      ul
        li
          a(href="https://pedalboard.netlify.com/") Interactive Demo
          |  / 
          a(href="https://www.youtube.com/watch?v=OJVmZ7hbVPQ") Video Demo
        li 
          a(href="https://www.trysmudford.com/blog/pedalboard/") Nice overview
          |  of how the effects were built
      img(src="./images/pedalboard.png" alt="JS Pedalboard", style="max-width:50%")
    
    section.slide
      h2 React95
      blockquote Windows95 UI components for your modern React apps
      ul
        li
          a(href="https://github.com/arturbien/React95") Github repo 
          | / 
          a(href="https://arturbien.github.io/React95/") Storybook
      img(src="./images/react95.png" alt="React95 preview")


    //----------------------  Fin  ----------------------
    
    section.slide
      h2 Thanks!
      h3
        a(href='https://edgeatx.org/slides/') https://edgeATX.org/slides
      h3
        | Brian Moeskau (
        a(href='https://twitter.com/bmoeskau', target='_blank') @bmoeskau
        | )
      br
      img(src='../../shared/resources/images/bleeding-web.gif', alt='Bleeding Edge Web', style='display: block; max-width: 20vw;')
    

    //----------------------  Slide stuff  ----------------------

    // Begin extension snippets. Add or remove as needed.
    // deck.navigation snippet
    a.deck-prev-link(href='#', title='Previous') ←
    a.deck-next-link(href='#', title='Next') →
    
    // deck.status snippet
    p.deck-status
      span.deck-status-current
      |  /
      span.deck-status-total
    
    // deck.goto snippet
    form.goto-form(action='.', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')
    
    // deck.hash snippet
    a.deck-permalink(href='.', title='Permalink to this slide') #

    // Required JS files.
    script(src='../../shared/resources/js/jquery-1.7.2.min.js')
    script(src='../../shared/core/deck.core.js')
    
    // Extension JS files. Add or remove as needed.
    script(src='../../shared/core/deck.core.js')
    script(src='../../shared/extensions/hash/deck.hash.js')
    script(src='../../shared/extensions/menu/deck.menu.js')
    script(src='../../shared/extensions/goto/deck.goto.js')
    script(src='../../shared/extensions/status/deck.status.js')
    script(src='../../shared/extensions/navigation/deck.navigation.js')
    script(src='../../shared/extensions/scale/deck.scale.js')
    script(src='../../shared/core/deck.init.js')
    // <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
