doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    title Bleeding Edge Web: April 2018

    // Required stylesheet
    link(rel='stylesheet', href='../../shared/core/deck.core.css')
    
    // Extension CSS files go here. Remove or add as needed.
    link(rel='stylesheet', href='../../shared/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='../../shared/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='../../shared/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='../../shared/extensions/status/deck.status.css')
    link(rel='stylesheet', href='../../shared/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='../../shared/extensions/scale/deck.scale.css')
    
    // Transition theme. More available in /themes/transition/ or create your own.
    link(rel='stylesheet', href='../../shared/themes/transition/fade.css')
    
    // Required Modernizr file
    script(src='../../shared/resources/js/modernizr-2.8.3.js')
    
    // Pretty print
    script(src='../../shared/prism/prism-okaidia.js')
    link(rel='stylesheet', href='../../shared/prism/prism-okaidia.css')
    
    // Custom theme, include last to allow easy overriding
    link(rel='stylesheet', href='../../shared/themes/build/skew-dark.css')
    script(type='text/javascript', src='../../shared/resources/js/microlight.js')
  
  body.deck-container.language-javascript

    //----------------------  Intro  ----------------------

    section.slide.cover.home
      h1(style='font-size:4em;top:30%;') Bleeding Edge Web
      h1(style='font-size:2.5em;top:65%;')
        a(href='https://twitter.com/edgeatx') @edgeATX
      h1(style='font-size:2.5em;top:80%;')
        a(href='https://www.edgeatx.org/') edgeATX.org
      .shim(style='opacity:.5;')
    
    section.slide
      h2 Bleeding Edge Web: April 2018
      h3.star News From the Bleeding Edge
      p.indent
        | &mdash; Brian Moeskau (
        a(href='https://twitter.com/bmoeskau') @bmoeskau
        | )
      h3.star Lightning Talks
      p.indent &mdash; Intro to Elasticsearch (Hugo Martinez)
      p.indent &mdash; Using a Screen Reader to Test (Robert DeLuca)
      h3.star
        a(href='https://slides.victoriabernard.com/#/') Putting Workers to Work
      p.indent
        | &mdash; Victoria Bernard
    

    //----------------------  Sponsors  ----------------------

    section.slide.cover(style='background-image:url(../../shared/resources/images/capitalfactory-bg.jpg)')
      p(style='color: #fff;') Thanks to our venue:
      div(style='text-align:center;padding-top:100px;font-size:200%;')
        p
          a(href='https://www.capitalfactory.com/')
            img(style='min-width:40%', src='../../shared/resources/images/capitalfactory-logo2.png', alt='Capital Factory')
      .shim(style='background-color:#555;opacity:.5;')
    
    //- section.slide.cover(style='background:#fff;')
    //-   p(style='color: #555;') Thanks to our premiere sponsor:
    //-   div(style='text-align:center;padding-top:150px;font-size:200%;')
    //-     p
    //-       a(href='https://#')
    //-         img(style='min-width:70%', src='./images/lightly.jpg', alt='')
    
    section.slide.cover(style='background-image:url(./images/cloudflare-stickers.jpg)')
      p(style='color: #fff;') Thanks to our sponsor:
    
    //----------------------  Housekeeping  ----------------------

    section.slide
      h2 Housekeeping
      ul
        li Speakers and sponsors always wanted (
          a(href='https://www.edgeatx.org') edgeatx.org
          | )
        li $5 Parking validation
        li Omni hotel bar (downstairs) after meetup
        li Anyone hiring / looking?

    //----------------------  Begin slides  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/newspaper.gif)')
      h1 News from the<br>Bleeding Edge
      .shim(style='background-color:#d15dd1;opacity:.9;')
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/browsers.jpg)')
      .content
        h1 Browser<br>Update
      .shim(style='background-color:#369;opacity:.8;')
    
    section.slide
      h2 Browser Pop Quiz
      h3 Last check — April 19, 2018:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 66
          td.ver 59
          td.ver 16
          td.ver 11.1
    
    section.slide
      h2 Browser Pop Quiz
      h3 As of May 17, 2018:
      table.browsers
        tr
          td(width='25%')
            img(src='../../shared/resources/images/chrome.png', width='70%', alt='Chrome')
          td(width='25%')
            img(src='../../shared/resources/images/firefox57.png', width='75%', alt='Firefox')
          td(width='25%')
            img(src='../../shared/resources/images/edge.png', width='70%', alt='Edge')
          td(width='25%')
            img(src='../../shared/resources/images/safari.png', width='70%', alt='Safari')
        tr
          td.ver 66
          td.ver
            span.strike.dim 59
            br
            strong(style='color:#1CA727') 60
          td.ver
            span.strike.dim 16
            br
            strong(style='color:#1CA727') 17
          td.ver 11.1  

    section.slide
      h2 Firefox 60
      p Released May 9th —
        a(href='https://developer.mozilla.org/en-US/Firefox/Releases/60') Release Notes
      h3.star New APIs
      ul
        li
          a(href='https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API') Web Authentication API
          |  (aka WebAuthn)
        li
          a(href='https://developer.mozilla.org/en-US/docs/Web/API/WebVR_API') Web VR
        li
          a(href='https://hacks.mozilla.org/2015/08/es6-in-depth-modules/') ES2015 Modules
          |  (
          span.code import
          |  and 
          span.code export
          |)

    section.slide
      h2 Edge 17
      p Released May 8th —
        a(href='https://aka.ms/devguide_edgehtml_17') Release Notes
      h3.star New APIs
      ul
        li 
          a(href='https://developer.mozilla.org/docs/Web/CSS/CSS_Masking') CSS Masking 
          | (experimental)
        li 
          a(href='https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/notifications') Notifications API 
        li 
          a(href='https://w3c.github.io/mediacapture-screen-share/') Media Capture API 
        li
          a(href='https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity') Subresource Integrity (SRI)
        li
          a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/font-variation-settings') Variable Fonts 
        li 
          a(href='https://blogs.windows.com/msedgedev/2017/12/19/service-workers-going-beyond-page/#fH9xg437YOV1YBpZ.97') Service Workers 
          | (enabled by default)

    section.slide
      h2 Edge 17
      h3.star Interesting Consumer Features
      ul
        li Reading tools (annotations, grammar tools)
        li "Clutter free" print option
        li Background tab suspension
        li Plus 
          a(href='https://blogs.windows.com/msedgedev/2018/04/30/edgehtml-17-april-2018-update/#BmJPg3BFQZeWJTpr.97') a lot more
      
      p Most importantly...
      blockquote Dramatically reduced the power efficiency impact of rendering animated GIFs

    //----------------------  Libs & Frameworks  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/html-js-css.png)')
      h1 Languages, Libraries &amp;<br>Frameworks
      .shim(style='background-color:#AD7909;opacity:.8;')
    
    section.slide
      h2 
        a(href='https://dojo.io/blog/2018/05/02/2018-05-02-Dojo2-0-0-release/') Dojo 2.0
      p Released May 2nd (
        a(href='https://dojo.github.io/examples/') examples
        |)
      ul
        li Rewritten in TypeScript
        li Web Component support
        li Built-in redux-like state container
        li Modern CLI tooling (
          span.code dojo create app
          | ) and test harness
      img(src='./images/dojo2.jpg', width='600px', alt='Dojo 2.0')

    section.slide
      h2
        a(href='https://developers.google.com/web/updates/2018/05/lighthouse3') Lighthouse 3.0
      blockquote An open-source, automated tool for improving the quality of web pages.
      p Released May 14th
      ul
        li Faster audits with less variance between runs
        li Brand new report UI
        li Improvements to CSV and JSON output formats

      img.corner-image(src='./images/lighthouse.png', width='200px', alt='Lighthouse')
      img(src='./images/lighthouse-preview.png', alt='Lighthouse Preview')

    section.slide
      h2
        a(href='https://github.com/guess-js/guess') Guess.js
      blockquote Libraries and tools for enabling data-driven user-experiences on the web.
      ul
        li Uses predictive algorithms to optimize application code
        li Analyzes linked Google Analytics traffic at build time
        li Bundle splitting via webpack plugin
        li Generated content prefetch links
        li
          a(href='https://blog.mgechev.com/2018/05/09/introducing-guess-js-data-driven-user-experiences-web/') Read the intro blog post
      img(src='./images/guess-js.png', width='200px', alt='Guess.js')
    
    section.slide
      h2 "Release Radar"
      ul
        li A roundup of some interesting releases from April
        li Courtesy of Github's blog
        li Hyper, NetHack, Flask, Nerd Fonts, Monica, and 
          a(href='https://blog.github.com/2018-05-09-release-radar-april-2018/') lots more

    //----------------------  Security  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/security.jpg)')
      .content
        h1 Security
      .shim(style='background-color:#c11;opacity:.7;')
    
    section.slide
      h2 GDPR Checklist
      ul
        li The 
          a(href='https://advisera.com/eugdpracademy/gdpr/') articles of the GDPR 
          |  are *really* involved
        li Basically, if you could do anything in the EU, it applies to you
        li It goes into effect May 25th!
        li This 
          a(href='https://gdprchecklist.io/') checklist
          |  is a great TL;DR version
      img(src='./images/gdpr.png', width='70%', alt='GDPR')

    section.slide
      h2 Auditing via npm
      blockquote Perform a moment-in-time security review of your project’s dependency tree.
      ul
        li New in npm v5.10+ and v6+
        li
          | Check out the 
          a(href='https://blog.npmjs.org/post/173719309445/npm-audit-identify-and-fix-insecure') release announcement
        li
          | Just run 
          span.code npm audit
          |  to get something like...
      img(src='./images/npm-audit.png', alt='npm audit', style='width:50%')

    
    //----------------------  ICYMI  ----------------------
    section.slide.cover(style='background-image:url(../../shared/resources/images/icymi.jpg)')
      .content
        h1 In Case You<br>Missed It
      .shim(style='background-color:#555;opacity:.7;')
    
    section.slide
      h2 Is ServiceWorker Ready?
      p
        a(href='https://jakearchibald.github.io/isserviceworkerready/') Yes.

    section.slide
      h2 StackOverflow for Teams
      blockquote A private, secure home for your team’s questions and answers.
      ul
        li Basically a private label version of SO
        li $10/month for now
      img(src='./images/so.png', alt='StackOverflow for Teams')

    section.slide
      h2 Pure CSS Francine
      blockquote An ongoing series in which I create art using only CSS and HTML.
      p
        a(href='http://diana-adrianne.com/purecss-francine/') Check it out!
      p
        | Also see 
        a(href='http://diana-adrianne.com/purecss-vignes/') Vignes
        |  and 
        a(href='http://diana-adrianne.com/purecss-zigario/') Zigario
      img(src='./images/francine.png', alt='Francine')

    //----------------------  Something Completely Different  ----------------------
    
    section.slide.cover(style='background-image:url(../../shared/resources/images/anfscd.jpg)')
      h1 And now for something completely different...
    
    section.slide
      h2 Real-time Pose Estimation in JS
      ol
        li 
          | Uses 
          a(href='https://js.tensorflow.org/') TensorFlow.js 
          | (machine learning lib)
        li 
          | Pose detection via 
          a(href='https://github.com/tensorflow/tfjs-models/tree/master/posenet') PoseNet Model 
        li
          | Check out the live 
          a(href='https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html') demo
      img(src='./images/posenet.gif', alt='PoseNet demo')

    
    //----------------------  Fin  ----------------------
    
    se
    ction.slide
      h2 Thanks!
      h3
        a(href='https://edgeatx.org/slides/') https://edgeATX.org/slides
      h3
        | Brian Moeskau (
        a(href='https://twitter.com/bmoeskau', target='_blank') @bmoeskau
        | )
      br
      img(src='../../shared/resources/images/bleeding-web.gif', alt='Bleeding Edge Web', style='display: block; max-width: 20vw;')
    

    //----------------------  Slide stuff  ----------------------

    // Begin extension snippets. Add or remove as needed.
    // deck.navigation snippet
    a.deck-prev-link(href='#', title='Previous') ←
    a.deck-next-link(href='#', title='Next') →
    
    // deck.status snippet
    p.deck-status
      span.deck-status-current
      |  /
      span.deck-status-total
    
    // deck.goto snippet
    form.goto-form(action='.', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')
    
    // deck.hash snippet
    a.deck-permalink(href='.', title='Permalink to this slide') #

    // Required JS files.
    script(src='../../shared/resources/js/jquery-1.7.2.min.js')
    script(src='../../shared/core/deck.core.js')
    
    // Extension JS files. Add or remove as needed.
    script(src='../../shared/core/deck.core.js')
    script(src='../../shared/extensions/hash/deck.hash.js')
    script(src='../../shared/extensions/menu/deck.menu.js')
    script(src='../../shared/extensions/goto/deck.goto.js')
    script(src='../../shared/extensions/status/deck.status.js')
    script(src='../../shared/extensions/navigation/deck.navigation.js')
    script(src='../../shared/extensions/scale/deck.scale.js')
    script(src='../../shared/core/deck.init.js')
    // <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
